openapi: 3.0.1
info:
  title: NBA Stats API
  description: OpenAPI documentation for the NBA Stats API generated by sigmer/nba-stats-openapi
  version: 0.1.0
servers:
- url: https://stats.nba.com/stats
paths:
  /allstarballotpredictor:
    get:
      parameters:
      - $ref: '#/components/parameters/WestPlayer1'
      - $ref: '#/components/parameters/WestPlayer2'
      - $ref: '#/components/parameters/WestPlayer3'
      - $ref: '#/components/parameters/WestPlayer4'
      - $ref: '#/components/parameters/WestPlayer5'
      - $ref: '#/components/parameters/EastPlayer1'
      - $ref: '#/components/parameters/EastPlayer2'
      - $ref: '#/components/parameters/EastPlayer3'
      - $ref: '#/components/parameters/EastPlayer4'
      - $ref: '#/components/parameters/EastPlayer5'
      responses:
        '200':
          description: Success
  /boxscoreadvancedv2:
    get:
      parameters:
      - $ref: '#/components/parameters/GameID'
      - $ref: '#/components/parameters/StartPeriod'
      - $ref: '#/components/parameters/EndPeriod'
      - $ref: '#/components/parameters/StartRange'
      - $ref: '#/components/parameters/EndRange'
      - $ref: '#/components/parameters/RangeType'
      responses:
        '200':
          description: Success
  /boxscorefourfactorsv2:
    get:
      parameters:
      - $ref: '#/components/parameters/GameID'
      - $ref: '#/components/parameters/StartPeriod'
      - $ref: '#/components/parameters/EndPeriod'
      - $ref: '#/components/parameters/StartRange'
      - $ref: '#/components/parameters/EndRange'
      - $ref: '#/components/parameters/RangeType'
      responses:
        '200':
          description: Success
  /boxscoremiscv2:
    get:
      parameters:
      - $ref: '#/components/parameters/GameID'
      - $ref: '#/components/parameters/StartPeriod'
      - $ref: '#/components/parameters/EndPeriod'
      - $ref: '#/components/parameters/StartRange'
      - $ref: '#/components/parameters/EndRange'
      - $ref: '#/components/parameters/RangeType'
      responses:
        '200':
          description: Success
  /boxscoreplayertrackv2:
    get:
      parameters:
      - $ref: '#/components/parameters/GameID'
      responses:
        '200':
          description: Success
  /boxscorescoringv2:
    get:
      parameters:
      - $ref: '#/components/parameters/GameID'
      - $ref: '#/components/parameters/StartPeriod'
      - $ref: '#/components/parameters/EndPeriod'
      - $ref: '#/components/parameters/StartRange'
      - $ref: '#/components/parameters/EndRange'
      - $ref: '#/components/parameters/RangeType'
      responses:
        '200':
          description: Success
  /boxscoresummaryv2:
    get:
      parameters:
      - $ref: '#/components/parameters/GameID'
      responses:
        '200':
          description: Success
  /boxscoretraditionalv2:
    get:
      parameters:
      - $ref: '#/components/parameters/GameID'
      - $ref: '#/components/parameters/StartPeriod'
      - $ref: '#/components/parameters/EndPeriod'
      - $ref: '#/components/parameters/StartRange'
      - $ref: '#/components/parameters/EndRange'
      - $ref: '#/components/parameters/RangeType'
      responses:
        '200':
          description: Success
  /boxscoreusagev2:
    get:
      parameters:
      - $ref: '#/components/parameters/GameID'
      - $ref: '#/components/parameters/StartPeriod'
      - $ref: '#/components/parameters/EndPeriod'
      - $ref: '#/components/parameters/StartRange'
      - $ref: '#/components/parameters/EndRange'
      - $ref: '#/components/parameters/RangeType'
      responses:
        '200':
          description: Success
  /commonTeamYears:
    get:
      parameters:
      - $ref: '#/components/parameters/LeagueID'
      responses:
        '200':
          description: Success
  /commonallplayers:
    get:
      parameters:
      - $ref: '#/components/parameters/LeagueID'
      - $ref: '#/components/parameters/Season'
      - $ref: '#/components/parameters/IsOnlyCurrentSeason'
      responses:
        '200':
          description: Success
  /commonplayerinfo:
    get:
      parameters:
      - $ref: '#/components/parameters/PlayerID'
      responses:
        '200':
          description: Success
  /commonplayoffseries:
    get:
      parameters:
      - $ref: '#/components/parameters/LeagueID'
      - $ref: '#/components/parameters/Season'
      responses:
        '200':
          description: Success
  /commonteamroster:
    get:
      parameters:
      - $ref: '#/components/parameters/Season'
      - $ref: '#/components/parameters/TeamID'
      responses:
        '200':
          description: Success
  /draftcombinedrillresults:
    get:
      parameters:
      - $ref: '#/components/parameters/LeagueID'
      - $ref: '#/components/parameters/SeasonYear'
      responses:
        '200':
          description: Success
  /draftcombinenonstationaryshooting:
    get:
      parameters:
      - $ref: '#/components/parameters/LeagueID'
      - $ref: '#/components/parameters/SeasonYear'
      responses:
        '200':
          description: Success
  /draftcombineplayeranthro:
    get:
      parameters:
      - $ref: '#/components/parameters/LeagueID'
      - $ref: '#/components/parameters/SeasonYear'
      responses:
        '200':
          description: Success
  /draftcombinespotshooting:
    get:
      parameters:
      - $ref: '#/components/parameters/LeagueID'
      - $ref: '#/components/parameters/SeasonYear'
      responses:
        '200':
          description: Success
  /draftcombinestats:
    get:
      parameters:
      - $ref: '#/components/parameters/LeagueID'
      - $ref: '#/components/parameters/SeasonYear'
      responses:
        '200':
          description: Success
  /drafthistory:
    get:
      parameters:
      - $ref: '#/components/parameters/LeagueID'
      responses:
        '200':
          description: Success
  /franchisehistory:
    get:
      parameters:
      - $ref: '#/components/parameters/LeagueID'
      responses:
        '200':
          description: Success
  /homepageleaders:
    get:
      parameters:
      - $ref: '#/components/parameters/StatCategory'
      - $ref: '#/components/parameters/LeagueID'
      - $ref: '#/components/parameters/Season'
      - $ref: '#/components/parameters/SeasonType'
      - $ref: '#/components/parameters/PlayerOrTeam'
      - $ref: '#/components/parameters/GameScope'
      - $ref: '#/components/parameters/PlayerScope'
      responses:
        '200':
          description: Success
  /homepagev2:
    get:
      parameters:
      - $ref: '#/components/parameters/StatType'
      - $ref: '#/components/parameters/LeagueID'
      - $ref: '#/components/parameters/Season'
      - $ref: '#/components/parameters/SeasonType'
      - $ref: '#/components/parameters/PlayerOrTeam'
      - $ref: '#/components/parameters/GameScope'
      - $ref: '#/components/parameters/PlayerScope'
      responses:
        '200':
          description: Success
  /leaderstiles:
    get:
      parameters:
      - $ref: '#/components/parameters/Stat'
      - $ref: '#/components/parameters/LeagueID'
      - $ref: '#/components/parameters/Season'
      - $ref: '#/components/parameters/SeasonType'
      - $ref: '#/components/parameters/PlayerOrTeam'
      - $ref: '#/components/parameters/GameScope'
      - $ref: '#/components/parameters/PlayerScope'
      responses:
        '200':
          description: Success
  /leaguedashlineups:
    get:
      parameters:
      - $ref: '#/components/parameters/SeasonType'
      - $ref: '#/components/parameters/MeasureType'
      - $ref: '#/components/parameters/PerMode'
      - $ref: '#/components/parameters/PlusMinus'
      - $ref: '#/components/parameters/PaceAdjust'
      - $ref: '#/components/parameters/Rank'
      - $ref: '#/components/parameters/Outcome'
      - $ref: '#/components/parameters/Location'
      - $ref: '#/components/parameters/SeasonSegment'
      - $ref: '#/components/parameters/DateFrom'
      - $ref: '#/components/parameters/DateTo'
      - $ref: '#/components/parameters/VsConference'
      - $ref: '#/components/parameters/VsDivision'
      - $ref: '#/components/parameters/GameSegment'
      - $ref: '#/components/parameters/GroupQuantity'
      - $ref: '#/components/parameters/Month'
      - $ref: '#/components/parameters/OpponentTeamID'
      - $ref: '#/components/parameters/Period'
      - $ref: '#/components/parameters/LastNGames'
      responses:
        '200':
          description: Success
  /leaguedashplayerbiostats:
    get:
      parameters:
      - $ref: '#/components/parameters/PerMode'
      - $ref: '#/components/parameters/LeagueID'
      - $ref: '#/components/parameters/Season'
      - $ref: '#/components/parameters/SeasonType'
      responses:
        '200':
          description: Success
  /leaguedashplayerclutch:
    get:
      parameters:
      - $ref: '#/components/parameters/ClutchTime'
      - $ref: '#/components/parameters/AheadBehind'
      - $ref: '#/components/parameters/GameScope'
      - $ref: '#/components/parameters/PlayerExperience'
      - $ref: '#/components/parameters/PlayerPosition'
      - $ref: '#/components/parameters/StarterBench'
      - $ref: '#/components/parameters/MeasureType'
      - $ref: '#/components/parameters/PerMode'
      - $ref: '#/components/parameters/PlusMinus'
      - $ref: '#/components/parameters/PaceAdjust'
      - $ref: '#/components/parameters/Rank'
      - $ref: '#/components/parameters/SeasonType'
      - $ref: '#/components/parameters/Outcome'
      - $ref: '#/components/parameters/Location'
      - $ref: '#/components/parameters/SeasonSegment'
      - $ref: '#/components/parameters/DateFrom'
      - $ref: '#/components/parameters/DateTo'
      - $ref: '#/components/parameters/VsConference'
      - $ref: '#/components/parameters/VsDivision'
      - $ref: '#/components/parameters/GameSegment'
      - $ref: '#/components/parameters/PointDiff'
      - $ref: '#/components/parameters/Month'
      - $ref: '#/components/parameters/OpponentTeamID'
      - $ref: '#/components/parameters/Period'
      - $ref: '#/components/parameters/LastNGames'
      responses:
        '200':
          description: Success
  /leaguedashplayerptshot:
    get:
      parameters:
      - $ref: '#/components/parameters/LeagueID'
      - $ref: '#/components/parameters/PerMode'
      - $ref: '#/components/parameters/Season'
      - $ref: '#/components/parameters/SeasonType'
      responses:
        '200':
          description: Success
  /leaguedashplayershotlocations:
    get:
      parameters:
      - $ref: '#/components/parameters/MeasureType'
      - $ref: '#/components/parameters/PerMode'
      - $ref: '#/components/parameters/PlusMinus'
      - $ref: '#/components/parameters/PaceAdjust'
      - $ref: '#/components/parameters/Rank'
      - $ref: '#/components/parameters/Season'
      - $ref: '#/components/parameters/SeasonType'
      - $ref: '#/components/parameters/Outcome'
      - $ref: '#/components/parameters/Location'
      - $ref: '#/components/parameters/SeasonSegment'
      - $ref: '#/components/parameters/DateFrom'
      - $ref: '#/components/parameters/DateTo'
      - $ref: '#/components/parameters/VsConference'
      - $ref: '#/components/parameters/VsDivision'
      - $ref: '#/components/parameters/GameSegment'
      - $ref: '#/components/parameters/DistanceRange'
      - $ref: '#/components/parameters/GameScope'
      - $ref: '#/components/parameters/PlayerExperience'
      - $ref: '#/components/parameters/PlayerPosition'
      - $ref: '#/components/parameters/StarterBench'
      - $ref: '#/components/parameters/Month'
      - $ref: '#/components/parameters/OpponentTeamID'
      - $ref: '#/components/parameters/Period'
      - $ref: '#/components/parameters/LastNGames'
      responses:
        '200':
          description: Success
  /leaguedashplayerstats:
    get:
      parameters:
      - $ref: '#/components/parameters/GameScope'
      - $ref: '#/components/parameters/PlayerExperience'
      - $ref: '#/components/parameters/PlayerPosition'
      - $ref: '#/components/parameters/StarterBench'
      - $ref: '#/components/parameters/MeasureType'
      - $ref: '#/components/parameters/PerMode'
      - $ref: '#/components/parameters/PlusMinus'
      - $ref: '#/components/parameters/PaceAdjust'
      - $ref: '#/components/parameters/Rank'
      - $ref: '#/components/parameters/SeasonType'
      - $ref: '#/components/parameters/Outcome'
      - $ref: '#/components/parameters/Location'
      - $ref: '#/components/parameters/SeasonSegment'
      - $ref: '#/components/parameters/DateFrom'
      - $ref: '#/components/parameters/DateTo'
      - $ref: '#/components/parameters/VsConference'
      - $ref: '#/components/parameters/VsDivision'
      - $ref: '#/components/parameters/GameSegment'
      - $ref: '#/components/parameters/Month'
      - $ref: '#/components/parameters/OpponentTeamID'
      - $ref: '#/components/parameters/Period'
      - $ref: '#/components/parameters/LastNGames'
      responses:
        '200':
          description: Success
  /leaguedashptdefend:
    get:
      parameters:
      - $ref: '#/components/parameters/LeagueID'
      - $ref: '#/components/parameters/PerMode'
      - $ref: '#/components/parameters/Season'
      - $ref: '#/components/parameters/SeasonType'
      - $ref: '#/components/parameters/DefenseCategory'
      responses:
        '200':
          description: Success
  /leaguedashptteamdefend:
    get:
      parameters:
      - $ref: '#/components/parameters/LeagueID'
      - $ref: '#/components/parameters/PerMode'
      - $ref: '#/components/parameters/Season'
      - $ref: '#/components/parameters/SeasonType'
      - $ref: '#/components/parameters/DefenseCategory'
      responses:
        '200':
          description: Success
  /leaguedashteamclutch:
    get:
      parameters:
      - $ref: '#/components/parameters/ClutchTime'
      - $ref: '#/components/parameters/AheadBehind'
      - $ref: '#/components/parameters/GameScope'
      - $ref: '#/components/parameters/PlayerExperience'
      - $ref: '#/components/parameters/PlayerPosition'
      - $ref: '#/components/parameters/StarterBench'
      - $ref: '#/components/parameters/MeasureType'
      - $ref: '#/components/parameters/PerMode'
      - $ref: '#/components/parameters/PlusMinus'
      - $ref: '#/components/parameters/PaceAdjust'
      - $ref: '#/components/parameters/Rank'
      - $ref: '#/components/parameters/SeasonType'
      - $ref: '#/components/parameters/Outcome'
      - $ref: '#/components/parameters/Location'
      - $ref: '#/components/parameters/SeasonSegment'
      - $ref: '#/components/parameters/DateFrom'
      - $ref: '#/components/parameters/DateTo'
      - $ref: '#/components/parameters/VsConference'
      - $ref: '#/components/parameters/VsDivision'
      - $ref: '#/components/parameters/GameSegment'
      - $ref: '#/components/parameters/PointDiff'
      - $ref: '#/components/parameters/Month'
      - $ref: '#/components/parameters/OpponentTeamID'
      - $ref: '#/components/parameters/Period'
      - $ref: '#/components/parameters/LastNGames'
      responses:
        '200':
          description: Success
  /leaguedashteamptshot:
    get:
      parameters:
      - $ref: '#/components/parameters/LeagueID'
      - $ref: '#/components/parameters/PerMode'
      - $ref: '#/components/parameters/Season'
      - $ref: '#/components/parameters/SeasonType'
      responses:
        '200':
          description: Success
  /leaguedashteamshotlocations:
    get:
      parameters:
      - $ref: '#/components/parameters/MeasureType'
      - $ref: '#/components/parameters/PerMode'
      - $ref: '#/components/parameters/PlusMinus'
      - $ref: '#/components/parameters/PaceAdjust'
      - $ref: '#/components/parameters/Rank'
      - $ref: '#/components/parameters/SeasonType'
      - $ref: '#/components/parameters/Outcome'
      - $ref: '#/components/parameters/Location'
      - $ref: '#/components/parameters/SeasonSegment'
      - $ref: '#/components/parameters/DateFrom'
      - $ref: '#/components/parameters/DateTo'
      - $ref: '#/components/parameters/VsConference'
      - $ref: '#/components/parameters/VsDivision'
      - $ref: '#/components/parameters/GameSegment'
      - $ref: '#/components/parameters/DistanceRange'
      - $ref: '#/components/parameters/GameScope'
      - $ref: '#/components/parameters/PlayerExperience'
      - $ref: '#/components/parameters/PlayerPosition'
      - $ref: '#/components/parameters/StarterBench'
      - $ref: '#/components/parameters/Month'
      - $ref: '#/components/parameters/OpponentTeamID'
      - $ref: '#/components/parameters/Period'
      - $ref: '#/components/parameters/LastNGames'
      responses:
        '200':
          description: Success
  /leaguedashteamstats:
    get:
      parameters:
      - $ref: '#/components/parameters/MeasureType'
      - $ref: '#/components/parameters/PerMode'
      - $ref: '#/components/parameters/PlusMinus'
      - $ref: '#/components/parameters/PaceAdjust'
      - $ref: '#/components/parameters/Rank'
      - $ref: '#/components/parameters/SeasonType'
      - $ref: '#/components/parameters/Outcome'
      - $ref: '#/components/parameters/Location'
      - $ref: '#/components/parameters/SeasonSegment'
      - $ref: '#/components/parameters/DateFrom'
      - $ref: '#/components/parameters/DateTo'
      - $ref: '#/components/parameters/VsConference'
      - $ref: '#/components/parameters/VsDivision'
      - $ref: '#/components/parameters/GameSegment'
      - $ref: '#/components/parameters/Month'
      - $ref: '#/components/parameters/OpponentTeamID'
      - $ref: '#/components/parameters/Period'
      - $ref: '#/components/parameters/LastNGames'
      responses:
        '200':
          description: Success
  /leagueleaders:
    get:
      parameters:
      - $ref: '#/components/parameters/LeagueID'
      - $ref: '#/components/parameters/PerMode'
      - $ref: '#/components/parameters/StatCategory'
      - $ref: '#/components/parameters/SeasonType'
      - $ref: '#/components/parameters/Scope'
      responses:
        '200':
          description: Success
  /playbyplay:
    get:
      parameters:
      - $ref: '#/components/parameters/GameID'
      - $ref: '#/components/parameters/StartPeriod'
      - $ref: '#/components/parameters/EndPeriod'
      responses:
        '200':
          description: Success
  /playbyplayv2:
    get:
      parameters:
      - $ref: '#/components/parameters/GameID'
      - $ref: '#/components/parameters/StartPeriod'
      - $ref: '#/components/parameters/EndPeriod'
      responses:
        '200':
          description: Success
  /playercareerstats:
    get:
      parameters:
      - $ref: '#/components/parameters/PerMode'
      - $ref: '#/components/parameters/PlayerID'
      responses:
        '200':
          description: Success
  /playercompare:
    get:
      parameters:
      - $ref: '#/components/parameters/PlayerIDList'
      - $ref: '#/components/parameters/VsPlayerIDList'
      - $ref: '#/components/parameters/SeasonType'
      - $ref: '#/components/parameters/MeasureType'
      - $ref: '#/components/parameters/PerMode'
      - $ref: '#/components/parameters/PlusMinus'
      - $ref: '#/components/parameters/PaceAdjust'
      - $ref: '#/components/parameters/Rank'
      - $ref: '#/components/parameters/Outcome'
      - $ref: '#/components/parameters/Location'
      - $ref: '#/components/parameters/SeasonSegment'
      - $ref: '#/components/parameters/DateFrom'
      - $ref: '#/components/parameters/DateTo'
      - $ref: '#/components/parameters/VsConference'
      - $ref: '#/components/parameters/VsDivision'
      - $ref: '#/components/parameters/GameSegment'
      - $ref: '#/components/parameters/Month'
      - $ref: '#/components/parameters/OpponentTeamID'
      - $ref: '#/components/parameters/Period'
      - $ref: '#/components/parameters/LastNGames'
      responses:
        '200':
          description: Success
  /playerdashboardbyclutch:
    get:
      parameters:
      - $ref: '#/components/parameters/MeasureType'
      - $ref: '#/components/parameters/PerMode'
      - $ref: '#/components/parameters/PlusMinus'
      - $ref: '#/components/parameters/PaceAdjust'
      - $ref: '#/components/parameters/Rank'
      - $ref: '#/components/parameters/SeasonType'
      - $ref: '#/components/parameters/Outcome'
      - $ref: '#/components/parameters/Location'
      - $ref: '#/components/parameters/SeasonSegment'
      - $ref: '#/components/parameters/DateFrom'
      - $ref: '#/components/parameters/DateTo'
      - $ref: '#/components/parameters/VsConference'
      - $ref: '#/components/parameters/VsDivision'
      - $ref: '#/components/parameters/GameSegment'
      - $ref: '#/components/parameters/PlayerID'
      - $ref: '#/components/parameters/Month'
      - $ref: '#/components/parameters/OpponentTeamID'
      - $ref: '#/components/parameters/Period'
      - $ref: '#/components/parameters/LastNGames'
      responses:
        '200':
          description: Success
  /playerdashboardbygamesplits:
    get:
      parameters:
      - $ref: '#/components/parameters/MeasureType'
      - $ref: '#/components/parameters/PerMode'
      - $ref: '#/components/parameters/PlusMinus'
      - $ref: '#/components/parameters/PaceAdjust'
      - $ref: '#/components/parameters/Rank'
      - $ref: '#/components/parameters/SeasonType'
      - $ref: '#/components/parameters/Outcome'
      - $ref: '#/components/parameters/Location'
      - $ref: '#/components/parameters/SeasonSegment'
      - $ref: '#/components/parameters/DateFrom'
      - $ref: '#/components/parameters/DateTo'
      - $ref: '#/components/parameters/VsConference'
      - $ref: '#/components/parameters/VsDivision'
      - $ref: '#/components/parameters/GameSegment'
      - $ref: '#/components/parameters/PlayerID'
      - $ref: '#/components/parameters/Month'
      - $ref: '#/components/parameters/OpponentTeamID'
      - $ref: '#/components/parameters/Period'
      - $ref: '#/components/parameters/LastNGames'
      responses:
        '200':
          description: Success
  /playerdashboardbygeneralsplits:
    get:
      parameters:
      - $ref: '#/components/parameters/MeasureType'
      - $ref: '#/components/parameters/PerMode'
      - $ref: '#/components/parameters/PlusMinus'
      - $ref: '#/components/parameters/PaceAdjust'
      - $ref: '#/components/parameters/Rank'
      - $ref: '#/components/parameters/SeasonType'
      - $ref: '#/components/parameters/Outcome'
      - $ref: '#/components/parameters/Location'
      - $ref: '#/components/parameters/SeasonSegment'
      - $ref: '#/components/parameters/DateFrom'
      - $ref: '#/components/parameters/DateTo'
      - $ref: '#/components/parameters/VsConference'
      - $ref: '#/components/parameters/VsDivision'
      - $ref: '#/components/parameters/GameSegment'
      - $ref: '#/components/parameters/PlayerID'
      - $ref: '#/components/parameters/Month'
      - $ref: '#/components/parameters/OpponentTeamID'
      - $ref: '#/components/parameters/Period'
      - $ref: '#/components/parameters/LastNGames'
      responses:
        '200':
          description: Success
  /playerdashboardbylastngames:
    get:
      parameters:
      - $ref: '#/components/parameters/MeasureType'
      - $ref: '#/components/parameters/PerMode'
      - $ref: '#/components/parameters/PlusMinus'
      - $ref: '#/components/parameters/PaceAdjust'
      - $ref: '#/components/parameters/Rank'
      - $ref: '#/components/parameters/SeasonType'
      - $ref: '#/components/parameters/Outcome'
      - $ref: '#/components/parameters/Location'
      - $ref: '#/components/parameters/SeasonSegment'
      - $ref: '#/components/parameters/DateFrom'
      - $ref: '#/components/parameters/DateTo'
      - $ref: '#/components/parameters/VsConference'
      - $ref: '#/components/parameters/VsDivision'
      - $ref: '#/components/parameters/GameSegment'
      - $ref: '#/components/parameters/PlayerID'
      - $ref: '#/components/parameters/Month'
      - $ref: '#/components/parameters/OpponentTeamID'
      - $ref: '#/components/parameters/Period'
      - $ref: '#/components/parameters/LastNGames'
      responses:
        '200':
          description: Success
  /playerdashboardbyopponent:
    get:
      parameters:
      - $ref: '#/components/parameters/MeasureType'
      - $ref: '#/components/parameters/PerMode'
      - $ref: '#/components/parameters/PlusMinus'
      - $ref: '#/components/parameters/PaceAdjust'
      - $ref: '#/components/parameters/Rank'
      - $ref: '#/components/parameters/SeasonType'
      - $ref: '#/components/parameters/Outcome'
      - $ref: '#/components/parameters/Location'
      - $ref: '#/components/parameters/SeasonSegment'
      - $ref: '#/components/parameters/DateFrom'
      - $ref: '#/components/parameters/DateTo'
      - $ref: '#/components/parameters/VsConference'
      - $ref: '#/components/parameters/VsDivision'
      - $ref: '#/components/parameters/GameSegment'
      - $ref: '#/components/parameters/PlayerID'
      - $ref: '#/components/parameters/Month'
      - $ref: '#/components/parameters/OpponentTeamID'
      - $ref: '#/components/parameters/Period'
      - $ref: '#/components/parameters/LastNGames'
      responses:
        '200':
          description: Success
  /playerdashboardbyshootingsplits:
    get:
      parameters:
      - $ref: '#/components/parameters/MeasureType'
      - $ref: '#/components/parameters/PerMode'
      - $ref: '#/components/parameters/PlusMinus'
      - $ref: '#/components/parameters/PaceAdjust'
      - $ref: '#/components/parameters/Rank'
      - $ref: '#/components/parameters/SeasonType'
      - $ref: '#/components/parameters/Outcome'
      - $ref: '#/components/parameters/Location'
      - $ref: '#/components/parameters/SeasonSegment'
      - $ref: '#/components/parameters/DateFrom'
      - $ref: '#/components/parameters/DateTo'
      - $ref: '#/components/parameters/VsConference'
      - $ref: '#/components/parameters/VsDivision'
      - $ref: '#/components/parameters/GameSegment'
      - $ref: '#/components/parameters/PlayerID'
      - $ref: '#/components/parameters/Month'
      - $ref: '#/components/parameters/OpponentTeamID'
      - $ref: '#/components/parameters/Period'
      - $ref: '#/components/parameters/LastNGames'
      responses:
        '200':
          description: Success
  /playerdashboardbyteamperformance:
    get:
      parameters:
      - $ref: '#/components/parameters/MeasureType'
      - $ref: '#/components/parameters/PerMode'
      - $ref: '#/components/parameters/PlusMinus'
      - $ref: '#/components/parameters/PaceAdjust'
      - $ref: '#/components/parameters/Rank'
      - $ref: '#/components/parameters/SeasonType'
      - $ref: '#/components/parameters/Outcome'
      - $ref: '#/components/parameters/Location'
      - $ref: '#/components/parameters/SeasonSegment'
      - $ref: '#/components/parameters/DateFrom'
      - $ref: '#/components/parameters/DateTo'
      - $ref: '#/components/parameters/VsConference'
      - $ref: '#/components/parameters/VsDivision'
      - $ref: '#/components/parameters/GameSegment'
      - $ref: '#/components/parameters/PlayerID'
      - $ref: '#/components/parameters/Month'
      - $ref: '#/components/parameters/OpponentTeamID'
      - $ref: '#/components/parameters/Period'
      - $ref: '#/components/parameters/LastNGames'
      responses:
        '200':
          description: Success
  /playerdashboardbyyearoveryear:
    get:
      parameters:
      - $ref: '#/components/parameters/MeasureType'
      - $ref: '#/components/parameters/PerMode'
      - $ref: '#/components/parameters/PlusMinus'
      - $ref: '#/components/parameters/PaceAdjust'
      - $ref: '#/components/parameters/Rank'
      - $ref: '#/components/parameters/SeasonType'
      - $ref: '#/components/parameters/Outcome'
      - $ref: '#/components/parameters/Location'
      - $ref: '#/components/parameters/SeasonSegment'
      - $ref: '#/components/parameters/DateFrom'
      - $ref: '#/components/parameters/DateTo'
      - $ref: '#/components/parameters/VsConference'
      - $ref: '#/components/parameters/VsDivision'
      - $ref: '#/components/parameters/GameSegment'
      - $ref: '#/components/parameters/PlayerID'
      - $ref: '#/components/parameters/Month'
      - $ref: '#/components/parameters/OpponentTeamID'
      - $ref: '#/components/parameters/Period'
      - $ref: '#/components/parameters/LastNGames'
      responses:
        '200':
          description: Success
  /playerdashptpass:
    get:
      parameters:
      - $ref: '#/components/parameters/PerMode'
      - $ref: '#/components/parameters/Season'
      - $ref: '#/components/parameters/SeasonType'
      - $ref: '#/components/parameters/Outcome'
      - $ref: '#/components/parameters/Location'
      - $ref: '#/components/parameters/SeasonSegment'
      - $ref: '#/components/parameters/DateFrom'
      - $ref: '#/components/parameters/DateTo'
      - $ref: '#/components/parameters/VsConference'
      - $ref: '#/components/parameters/VsDivision'
      - $ref: '#/components/parameters/PlayerID'
      - $ref: '#/components/parameters/TeamID'
      - $ref: '#/components/parameters/Month'
      - $ref: '#/components/parameters/OpponentTeamID'
      - $ref: '#/components/parameters/LastNGames'
      responses:
        '200':
          description: Success
  /playerdashptreb:
    get:
      parameters:
      - $ref: '#/components/parameters/PerMode'
      - $ref: '#/components/parameters/Season'
      - $ref: '#/components/parameters/SeasonType'
      - $ref: '#/components/parameters/Outcome'
      - $ref: '#/components/parameters/Location'
      - $ref: '#/components/parameters/SeasonSegment'
      - $ref: '#/components/parameters/DateFrom'
      - $ref: '#/components/parameters/DateTo'
      - $ref: '#/components/parameters/VsConference'
      - $ref: '#/components/parameters/VsDivision'
      - $ref: '#/components/parameters/GameSegment'
      - $ref: '#/components/parameters/PlayerID'
      - $ref: '#/components/parameters/TeamID'
      - $ref: '#/components/parameters/Month'
      - $ref: '#/components/parameters/OpponentTeamID'
      - $ref: '#/components/parameters/Period'
      - $ref: '#/components/parameters/LastNGames'
      responses:
        '200':
          description: Success
  /playerdashptshotdefend:
    get:
      parameters:
      - $ref: '#/components/parameters/PerMode'
      - $ref: '#/components/parameters/Season'
      - $ref: '#/components/parameters/SeasonType'
      - $ref: '#/components/parameters/Outcome'
      - $ref: '#/components/parameters/Location'
      - $ref: '#/components/parameters/SeasonSegment'
      - $ref: '#/components/parameters/DateFrom'
      - $ref: '#/components/parameters/DateTo'
      - $ref: '#/components/parameters/VsConference'
      - $ref: '#/components/parameters/VsDivision'
      - $ref: '#/components/parameters/GameSegment'
      - $ref: '#/components/parameters/PlayerID'
      - $ref: '#/components/parameters/TeamID'
      - $ref: '#/components/parameters/Month'
      - $ref: '#/components/parameters/OpponentTeamID'
      - $ref: '#/components/parameters/Period'
      - $ref: '#/components/parameters/LastNGames'
      responses:
        '200':
          description: Success
  /playerdashptshots:
    get:
      parameters:
      - $ref: '#/components/parameters/PerMode'
      - $ref: '#/components/parameters/Season'
      - $ref: '#/components/parameters/SeasonType'
      - $ref: '#/components/parameters/Outcome'
      - $ref: '#/components/parameters/Location'
      - $ref: '#/components/parameters/SeasonSegment'
      - $ref: '#/components/parameters/DateFrom'
      - $ref: '#/components/parameters/DateTo'
      - $ref: '#/components/parameters/VsConference'
      - $ref: '#/components/parameters/VsDivision'
      - $ref: '#/components/parameters/GameSegment'
      - $ref: '#/components/parameters/PlayerID'
      - $ref: '#/components/parameters/TeamID'
      - $ref: '#/components/parameters/Month'
      - $ref: '#/components/parameters/OpponentTeamID'
      - $ref: '#/components/parameters/Period'
      - $ref: '#/components/parameters/LastNGames'
      responses:
        '200':
          description: Success
  /playergamelog:
    get:
      parameters:
      - $ref: '#/components/parameters/Season'
      - $ref: '#/components/parameters/SeasonType'
      - $ref: '#/components/parameters/PlayerID'
      responses:
        '200':
          description: Success
  /playerprofile:
    get:
      parameters:
      - $ref: '#/components/parameters/LeagueID'
      - $ref: '#/components/parameters/Season'
      - $ref: '#/components/parameters/SeasonType'
      - $ref: '#/components/parameters/GraphStartSeason'
      - $ref: '#/components/parameters/GraphEndSeason'
      - $ref: '#/components/parameters/GraphStat'
      - $ref: '#/components/parameters/PlayerID'
      responses:
        '200':
          description: Success
  /playerprofilev2:
    get:
      parameters:
      - $ref: '#/components/parameters/PerMode'
      - $ref: '#/components/parameters/PlayerID'
      responses:
        '200':
          description: Success
  /playersvsplayers:
    get:
      parameters:
      - $ref: '#/components/parameters/SeasonType'
      - $ref: '#/components/parameters/MeasureType'
      - $ref: '#/components/parameters/PerMode'
      - $ref: '#/components/parameters/PlusMinus'
      - $ref: '#/components/parameters/PaceAdjust'
      - $ref: '#/components/parameters/Rank'
      - $ref: '#/components/parameters/Outcome'
      - $ref: '#/components/parameters/Location'
      - $ref: '#/components/parameters/SeasonSegment'
      - $ref: '#/components/parameters/DateFrom'
      - $ref: '#/components/parameters/DateTo'
      - $ref: '#/components/parameters/VsConference'
      - $ref: '#/components/parameters/VsDivision'
      - $ref: '#/components/parameters/GameSegment'
      - $ref: '#/components/parameters/PlayerTeamID'
      - $ref: '#/components/parameters/PlayerID1'
      - $ref: '#/components/parameters/PlayerID2'
      - $ref: '#/components/parameters/PlayerID3'
      - $ref: '#/components/parameters/PlayerID4'
      - $ref: '#/components/parameters/PlayerID5'
      - $ref: '#/components/parameters/VsTeamID'
      - $ref: '#/components/parameters/VsPlayerID1'
      - $ref: '#/components/parameters/VsPlayerID2'
      - $ref: '#/components/parameters/VsPlayerID3'
      - $ref: '#/components/parameters/VsPlayerID4'
      - $ref: '#/components/parameters/VsPlayerID5'
      - $ref: '#/components/parameters/Month'
      - $ref: '#/components/parameters/OpponentTeamID'
      - $ref: '#/components/parameters/Period'
      - $ref: '#/components/parameters/LastNGames'
      responses:
        '200':
          description: Success
  /playervsplayer:
    get:
      parameters:
      - $ref: '#/components/parameters/SeasonType'
      - $ref: '#/components/parameters/MeasureType'
      - $ref: '#/components/parameters/PerMode'
      - $ref: '#/components/parameters/PlusMinus'
      - $ref: '#/components/parameters/PaceAdjust'
      - $ref: '#/components/parameters/Rank'
      - $ref: '#/components/parameters/Outcome'
      - $ref: '#/components/parameters/Location'
      - $ref: '#/components/parameters/SeasonSegment'
      - $ref: '#/components/parameters/DateFrom'
      - $ref: '#/components/parameters/DateTo'
      - $ref: '#/components/parameters/VsConference'
      - $ref: '#/components/parameters/VsDivision'
      - $ref: '#/components/parameters/GameSegment'
      - $ref: '#/components/parameters/PlayerID'
      - $ref: '#/components/parameters/VsPlayerID'
      - $ref: '#/components/parameters/Month'
      - $ref: '#/components/parameters/OpponentTeamID'
      - $ref: '#/components/parameters/Period'
      - $ref: '#/components/parameters/LastNGames'
      responses:
        '200':
          description: Success
  /playoffpicture:
    get:
      parameters:
      - $ref: '#/components/parameters/LeagueID'
      - $ref: '#/components/parameters/SeasonID'
      responses:
        '200':
          description: Success
  /scoreboard:
    get:
      parameters:
      - $ref: '#/components/parameters/GameDate'
      - $ref: '#/components/parameters/LeagueID'
      - $ref: '#/components/parameters/DayOffset'
      responses:
        '200':
          description: Success
  /scoreboardV2:
    get:
      parameters:
      - $ref: '#/components/parameters/GameDate'
      - $ref: '#/components/parameters/LeagueID'
      - $ref: '#/components/parameters/DayOffset'
      responses:
        '200':
          description: Success
  /shotchartdetail:
    get:
      parameters:
      - $ref: '#/components/parameters/SeasonType'
      - $ref: '#/components/parameters/GameID'
      - $ref: '#/components/parameters/Outcome'
      - $ref: '#/components/parameters/Location'
      - $ref: '#/components/parameters/SeasonSegment'
      - $ref: '#/components/parameters/DateFrom'
      - $ref: '#/components/parameters/DateTo'
      - $ref: '#/components/parameters/VsConference'
      - $ref: '#/components/parameters/VsDivision'
      - $ref: '#/components/parameters/PlayerPosition'
      - $ref: '#/components/parameters/RookieYear'
      - $ref: '#/components/parameters/GameSegment'
      - $ref: '#/components/parameters/ContextMeasure'
      - $ref: '#/components/parameters/TeamID'
      - $ref: '#/components/parameters/PlayerID'
      - $ref: '#/components/parameters/Month'
      - $ref: '#/components/parameters/OpponentTeamID'
      - $ref: '#/components/parameters/Period'
      - $ref: '#/components/parameters/LastNGames'
      responses:
        '200':
          description: Success
  /shotchartlineupdetail:
    get:
      parameters:
      - $ref: '#/components/parameters/LeagueID'
      - $ref: '#/components/parameters/Season'
      - $ref: '#/components/parameters/SeasonType'
      - $ref: '#/components/parameters/Outcome'
      - $ref: '#/components/parameters/Location'
      - $ref: '#/components/parameters/SeasonSegment'
      - $ref: '#/components/parameters/DateFrom'
      - $ref: '#/components/parameters/DateTo'
      - $ref: '#/components/parameters/VsConference'
      - $ref: '#/components/parameters/VsDivision'
      - $ref: '#/components/parameters/GameSegment'
      - $ref: '#/components/parameters/GameID'
      - $ref: '#/components/parameters/GROUP_ID'
      - $ref: '#/components/parameters/ContextMeasure'
      - $ref: '#/components/parameters/ContextFilter'
      - $ref: '#/components/parameters/TeamID'
      - $ref: '#/components/parameters/Month'
      - $ref: '#/components/parameters/OpponentTeamID'
      - $ref: '#/components/parameters/Period'
      - $ref: '#/components/parameters/LastNGames'
      responses:
        '200':
          description: Success
  /teamdashboardbyclutch:
    get:
      parameters:
      - $ref: '#/components/parameters/MeasureType'
      - $ref: '#/components/parameters/PerMode'
      - $ref: '#/components/parameters/PlusMinus'
      - $ref: '#/components/parameters/PaceAdjust'
      - $ref: '#/components/parameters/Rank'
      - $ref: '#/components/parameters/SeasonType'
      - $ref: '#/components/parameters/Outcome'
      - $ref: '#/components/parameters/Location'
      - $ref: '#/components/parameters/SeasonSegment'
      - $ref: '#/components/parameters/DateFrom'
      - $ref: '#/components/parameters/DateTo'
      - $ref: '#/components/parameters/VsConference'
      - $ref: '#/components/parameters/VsDivision'
      - $ref: '#/components/parameters/GameSegment'
      - $ref: '#/components/parameters/TeamID'
      - $ref: '#/components/parameters/Month'
      - $ref: '#/components/parameters/OpponentTeamID'
      - $ref: '#/components/parameters/Period'
      - $ref: '#/components/parameters/LastNGames'
      responses:
        '200':
          description: Success
  /teamdashboardbygamesplits:
    get:
      parameters:
      - $ref: '#/components/parameters/MeasureType'
      - $ref: '#/components/parameters/PerMode'
      - $ref: '#/components/parameters/PlusMinus'
      - $ref: '#/components/parameters/PaceAdjust'
      - $ref: '#/components/parameters/Rank'
      - $ref: '#/components/parameters/SeasonType'
      - $ref: '#/components/parameters/Outcome'
      - $ref: '#/components/parameters/Location'
      - $ref: '#/components/parameters/SeasonSegment'
      - $ref: '#/components/parameters/DateFrom'
      - $ref: '#/components/parameters/DateTo'
      - $ref: '#/components/parameters/VsConference'
      - $ref: '#/components/parameters/VsDivision'
      - $ref: '#/components/parameters/GameSegment'
      - $ref: '#/components/parameters/TeamID'
      - $ref: '#/components/parameters/Month'
      - $ref: '#/components/parameters/OpponentTeamID'
      - $ref: '#/components/parameters/Period'
      - $ref: '#/components/parameters/LastNGames'
      responses:
        '200':
          description: Success
  /teamdashboardbygeneralsplits:
    get:
      parameters:
      - $ref: '#/components/parameters/SeasonType'
      - $ref: '#/components/parameters/MeasureType'
      - $ref: '#/components/parameters/PerMode'
      - $ref: '#/components/parameters/PlusMinus'
      - $ref: '#/components/parameters/PaceAdjust'
      - $ref: '#/components/parameters/Rank'
      - $ref: '#/components/parameters/Outcome'
      - $ref: '#/components/parameters/Location'
      - $ref: '#/components/parameters/SeasonSegment'
      - $ref: '#/components/parameters/DateFrom'
      - $ref: '#/components/parameters/DateTo'
      - $ref: '#/components/parameters/VsConference'
      - $ref: '#/components/parameters/VsDivision'
      - $ref: '#/components/parameters/GameSegment'
      - $ref: '#/components/parameters/TeamID'
      - $ref: '#/components/parameters/Month'
      - $ref: '#/components/parameters/OpponentTeamID'
      - $ref: '#/components/parameters/Period'
      - $ref: '#/components/parameters/LastNGames'
      responses:
        '200':
          description: Success
  /teamdashboardbylastngames:
    get:
      parameters:
      - $ref: '#/components/parameters/MeasureType'
      - $ref: '#/components/parameters/PerMode'
      - $ref: '#/components/parameters/PlusMinus'
      - $ref: '#/components/parameters/PaceAdjust'
      - $ref: '#/components/parameters/Rank'
      - $ref: '#/components/parameters/SeasonType'
      - $ref: '#/components/parameters/Outcome'
      - $ref: '#/components/parameters/Location'
      - $ref: '#/components/parameters/SeasonSegment'
      - $ref: '#/components/parameters/DateFrom'
      - $ref: '#/components/parameters/DateTo'
      - $ref: '#/components/parameters/VsConference'
      - $ref: '#/components/parameters/VsDivision'
      - $ref: '#/components/parameters/GameSegment'
      - $ref: '#/components/parameters/TeamID'
      - $ref: '#/components/parameters/Month'
      - $ref: '#/components/parameters/OpponentTeamID'
      - $ref: '#/components/parameters/Period'
      - $ref: '#/components/parameters/LastNGames'
      responses:
        '200':
          description: Success
  /teamdashboardbyopponent:
    get:
      parameters:
      - $ref: '#/components/parameters/MeasureType'
      - $ref: '#/components/parameters/PerMode'
      - $ref: '#/components/parameters/PlusMinus'
      - $ref: '#/components/parameters/PaceAdjust'
      - $ref: '#/components/parameters/Rank'
      - $ref: '#/components/parameters/SeasonType'
      - $ref: '#/components/parameters/Outcome'
      - $ref: '#/components/parameters/Location'
      - $ref: '#/components/parameters/SeasonSegment'
      - $ref: '#/components/parameters/DateFrom'
      - $ref: '#/components/parameters/DateTo'
      - $ref: '#/components/parameters/VsConference'
      - $ref: '#/components/parameters/VsDivision'
      - $ref: '#/components/parameters/GameSegment'
      - $ref: '#/components/parameters/TeamID'
      - $ref: '#/components/parameters/Month'
      - $ref: '#/components/parameters/OpponentTeamID'
      - $ref: '#/components/parameters/Period'
      - $ref: '#/components/parameters/LastNGames'
      responses:
        '200':
          description: Success
  /teamdashboardbyshootingsplits:
    get:
      parameters:
      - $ref: '#/components/parameters/MeasureType'
      - $ref: '#/components/parameters/PerMode'
      - $ref: '#/components/parameters/PlusMinus'
      - $ref: '#/components/parameters/PaceAdjust'
      - $ref: '#/components/parameters/Rank'
      - $ref: '#/components/parameters/SeasonType'
      - $ref: '#/components/parameters/Outcome'
      - $ref: '#/components/parameters/Location'
      - $ref: '#/components/parameters/SeasonSegment'
      - $ref: '#/components/parameters/DateFrom'
      - $ref: '#/components/parameters/DateTo'
      - $ref: '#/components/parameters/VsConference'
      - $ref: '#/components/parameters/VsDivision'
      - $ref: '#/components/parameters/GameSegment'
      - $ref: '#/components/parameters/TeamID'
      - $ref: '#/components/parameters/Month'
      - $ref: '#/components/parameters/OpponentTeamID'
      - $ref: '#/components/parameters/Period'
      - $ref: '#/components/parameters/LastNGames'
      responses:
        '200':
          description: Success
  /teamdashboardbyteamperformance:
    get:
      parameters:
      - $ref: '#/components/parameters/MeasureType'
      - $ref: '#/components/parameters/PerMode'
      - $ref: '#/components/parameters/PlusMinus'
      - $ref: '#/components/parameters/PaceAdjust'
      - $ref: '#/components/parameters/Rank'
      - $ref: '#/components/parameters/SeasonType'
      - $ref: '#/components/parameters/Outcome'
      - $ref: '#/components/parameters/Location'
      - $ref: '#/components/parameters/SeasonSegment'
      - $ref: '#/components/parameters/DateFrom'
      - $ref: '#/components/parameters/DateTo'
      - $ref: '#/components/parameters/VsConference'
      - $ref: '#/components/parameters/VsDivision'
      - $ref: '#/components/parameters/GameSegment'
      - $ref: '#/components/parameters/TeamID'
      - $ref: '#/components/parameters/Month'
      - $ref: '#/components/parameters/OpponentTeamID'
      - $ref: '#/components/parameters/Period'
      - $ref: '#/components/parameters/LastNGames'
      responses:
        '200':
          description: Success
  /teamdashboardbyyearoveryear:
    get:
      parameters:
      - $ref: '#/components/parameters/MeasureType'
      - $ref: '#/components/parameters/PerMode'
      - $ref: '#/components/parameters/PlusMinus'
      - $ref: '#/components/parameters/PaceAdjust'
      - $ref: '#/components/parameters/Rank'
      - $ref: '#/components/parameters/SeasonType'
      - $ref: '#/components/parameters/Outcome'
      - $ref: '#/components/parameters/Location'
      - $ref: '#/components/parameters/SeasonSegment'
      - $ref: '#/components/parameters/DateFrom'
      - $ref: '#/components/parameters/DateTo'
      - $ref: '#/components/parameters/VsConference'
      - $ref: '#/components/parameters/VsDivision'
      - $ref: '#/components/parameters/GameSegment'
      - $ref: '#/components/parameters/TeamID'
      - $ref: '#/components/parameters/Month'
      - $ref: '#/components/parameters/OpponentTeamID'
      - $ref: '#/components/parameters/Period'
      - $ref: '#/components/parameters/LastNGames'
      responses:
        '200':
          description: Success
  /teamdashlineups:
    get:
      parameters:
      - $ref: '#/components/parameters/GameID'
      - $ref: '#/components/parameters/SeasonType'
      - $ref: '#/components/parameters/MeasureType'
      - $ref: '#/components/parameters/PerMode'
      - $ref: '#/components/parameters/PlusMinus'
      - $ref: '#/components/parameters/PaceAdjust'
      - $ref: '#/components/parameters/Rank'
      - $ref: '#/components/parameters/Outcome'
      - $ref: '#/components/parameters/Location'
      - $ref: '#/components/parameters/SeasonSegment'
      - $ref: '#/components/parameters/DateFrom'
      - $ref: '#/components/parameters/DateTo'
      - $ref: '#/components/parameters/VsConference'
      - $ref: '#/components/parameters/VsDivision'
      - $ref: '#/components/parameters/GameSegment'
      - $ref: '#/components/parameters/GroupQuantity'
      - $ref: '#/components/parameters/TeamID'
      - $ref: '#/components/parameters/Month'
      - $ref: '#/components/parameters/OpponentTeamID'
      - $ref: '#/components/parameters/Period'
      - $ref: '#/components/parameters/LastNGames'
      responses:
        '200':
          description: Success
  /teamdashptpass:
    get:
      parameters:
      - $ref: '#/components/parameters/PerMode'
      - $ref: '#/components/parameters/Season'
      - $ref: '#/components/parameters/SeasonType'
      - $ref: '#/components/parameters/Outcome'
      - $ref: '#/components/parameters/Location'
      - $ref: '#/components/parameters/SeasonSegment'
      - $ref: '#/components/parameters/DateFrom'
      - $ref: '#/components/parameters/DateTo'
      - $ref: '#/components/parameters/VsConference'
      - $ref: '#/components/parameters/VsDivision'
      - $ref: '#/components/parameters/TeamID'
      - $ref: '#/components/parameters/Month'
      - $ref: '#/components/parameters/OpponentTeamID'
      - $ref: '#/components/parameters/LastNGames'
      responses:
        '200':
          description: Success
  /teamdashptreb:
    get:
      parameters:
      - $ref: '#/components/parameters/PerMode'
      - $ref: '#/components/parameters/Season'
      - $ref: '#/components/parameters/SeasonType'
      - $ref: '#/components/parameters/Outcome'
      - $ref: '#/components/parameters/Location'
      - $ref: '#/components/parameters/SeasonSegment'
      - $ref: '#/components/parameters/DateFrom'
      - $ref: '#/components/parameters/DateTo'
      - $ref: '#/components/parameters/VsConference'
      - $ref: '#/components/parameters/VsDivision'
      - $ref: '#/components/parameters/GameSegment'
      - $ref: '#/components/parameters/TeamID'
      - $ref: '#/components/parameters/Month'
      - $ref: '#/components/parameters/OpponentTeamID'
      - $ref: '#/components/parameters/Period'
      - $ref: '#/components/parameters/LastNGames'
      responses:
        '200':
          description: Success
  /teamdashptshots:
    get:
      parameters:
      - $ref: '#/components/parameters/PerMode'
      - $ref: '#/components/parameters/Season'
      - $ref: '#/components/parameters/SeasonType'
      - $ref: '#/components/parameters/Outcome'
      - $ref: '#/components/parameters/Location'
      - $ref: '#/components/parameters/SeasonSegment'
      - $ref: '#/components/parameters/DateFrom'
      - $ref: '#/components/parameters/DateTo'
      - $ref: '#/components/parameters/VsConference'
      - $ref: '#/components/parameters/VsDivision'
      - $ref: '#/components/parameters/GameSegment'
      - $ref: '#/components/parameters/TeamID'
      - $ref: '#/components/parameters/Month'
      - $ref: '#/components/parameters/OpponentTeamID'
      - $ref: '#/components/parameters/Period'
      - $ref: '#/components/parameters/LastNGames'
      responses:
        '200':
          description: Success
  /teamgamelog:
    get:
      parameters:
      - $ref: '#/components/parameters/Season'
      - $ref: '#/components/parameters/SeasonType'
      - $ref: '#/components/parameters/TeamID'
      responses:
        '200':
          description: Success
  /teaminfocommon:
    get:
      parameters:
      - $ref: '#/components/parameters/LeagueID'
      - $ref: '#/components/parameters/TeamID'
      responses:
        '200':
          description: Success
  /teamplayerdashboard:
    get:
      parameters:
      - $ref: '#/components/parameters/SeasonType'
      - $ref: '#/components/parameters/MeasureType'
      - $ref: '#/components/parameters/PerMode'
      - $ref: '#/components/parameters/PlusMinus'
      - $ref: '#/components/parameters/PaceAdjust'
      - $ref: '#/components/parameters/Rank'
      - $ref: '#/components/parameters/Outcome'
      - $ref: '#/components/parameters/Location'
      - $ref: '#/components/parameters/SeasonSegment'
      - $ref: '#/components/parameters/DateFrom'
      - $ref: '#/components/parameters/DateTo'
      - $ref: '#/components/parameters/VsConference'
      - $ref: '#/components/parameters/VsDivision'
      - $ref: '#/components/parameters/GameSegment'
      - $ref: '#/components/parameters/TeamID'
      - $ref: '#/components/parameters/Month'
      - $ref: '#/components/parameters/OpponentTeamID'
      - $ref: '#/components/parameters/Period'
      - $ref: '#/components/parameters/LastNGames'
      responses:
        '200':
          description: Success
  /teamplayeronoffdetails:
    get:
      parameters:
      - $ref: '#/components/parameters/MeasureType'
      - $ref: '#/components/parameters/PerMode'
      - $ref: '#/components/parameters/PlusMinus'
      - $ref: '#/components/parameters/PaceAdjust'
      - $ref: '#/components/parameters/Rank'
      - $ref: '#/components/parameters/SeasonType'
      - $ref: '#/components/parameters/Outcome'
      - $ref: '#/components/parameters/Location'
      - $ref: '#/components/parameters/SeasonSegment'
      - $ref: '#/components/parameters/DateFrom'
      - $ref: '#/components/parameters/DateTo'
      - $ref: '#/components/parameters/VsConference'
      - $ref: '#/components/parameters/VsDivision'
      - $ref: '#/components/parameters/GameSegment'
      - $ref: '#/components/parameters/TeamID'
      - $ref: '#/components/parameters/Month'
      - $ref: '#/components/parameters/OpponentTeamID'
      - $ref: '#/components/parameters/Period'
      - $ref: '#/components/parameters/LastNGames'
      responses:
        '200':
          description: Success
  /teamplayeronoffsummary:
    get:
      parameters:
      - $ref: '#/components/parameters/MeasureType'
      - $ref: '#/components/parameters/PerMode'
      - $ref: '#/components/parameters/PlusMinus'
      - $ref: '#/components/parameters/PaceAdjust'
      - $ref: '#/components/parameters/Rank'
      - $ref: '#/components/parameters/SeasonType'
      - $ref: '#/components/parameters/Outcome'
      - $ref: '#/components/parameters/Location'
      - $ref: '#/components/parameters/SeasonSegment'
      - $ref: '#/components/parameters/DateFrom'
      - $ref: '#/components/parameters/DateTo'
      - $ref: '#/components/parameters/VsConference'
      - $ref: '#/components/parameters/VsDivision'
      - $ref: '#/components/parameters/GameSegment'
      - $ref: '#/components/parameters/TeamID'
      - $ref: '#/components/parameters/Month'
      - $ref: '#/components/parameters/OpponentTeamID'
      - $ref: '#/components/parameters/Period'
      - $ref: '#/components/parameters/LastNGames'
      responses:
        '200':
          description: Success
  /teamvsplayer:
    get:
      parameters:
      - $ref: '#/components/parameters/SeasonType'
      - $ref: '#/components/parameters/MeasureType'
      - $ref: '#/components/parameters/PerMode'
      - $ref: '#/components/parameters/PlusMinus'
      - $ref: '#/components/parameters/PaceAdjust'
      - $ref: '#/components/parameters/Rank'
      - $ref: '#/components/parameters/Outcome'
      - $ref: '#/components/parameters/Location'
      - $ref: '#/components/parameters/SeasonSegment'
      - $ref: '#/components/parameters/DateFrom'
      - $ref: '#/components/parameters/DateTo'
      - $ref: '#/components/parameters/VsConference'
      - $ref: '#/components/parameters/VsDivision'
      - $ref: '#/components/parameters/GameSegment'
      - $ref: '#/components/parameters/TeamID'
      - $ref: '#/components/parameters/VsPlayerID'
      - $ref: '#/components/parameters/Month'
      - $ref: '#/components/parameters/OpponentTeamID'
      - $ref: '#/components/parameters/Period'
      - $ref: '#/components/parameters/LastNGames'
      responses:
        '200':
          description: Success
  /teamyearbyyearstats:
    get:
      parameters:
      - $ref: '#/components/parameters/LeagueID'
      - $ref: '#/components/parameters/SeasonType'
      - $ref: '#/components/parameters/PerMode'
      - $ref: '#/components/parameters/TeamID'
      responses:
        '200':
          description: Success
  /videoStatus:
    get:
      parameters:
      - $ref: '#/components/parameters/LeagueID'
      - $ref: '#/components/parameters/GameDate'
      responses:
        '200':
          description: Success
components:
  parameters:
    WestPlayer1:
      name: WestPlayer1
      in: query
      schema:
        $ref: '#/components/schemas/WestPlayer1'
      required: true
    WestPlayer2:
      name: WestPlayer2
      in: query
      schema:
        $ref: '#/components/schemas/WestPlayer2'
      required: true
    WestPlayer3:
      name: WestPlayer3
      in: query
      schema:
        $ref: '#/components/schemas/WestPlayer3'
      required: true
    WestPlayer4:
      name: WestPlayer4
      in: query
      schema:
        $ref: '#/components/schemas/WestPlayer4'
      required: true
    WestPlayer5:
      name: WestPlayer5
      in: query
      schema:
        $ref: '#/components/schemas/WestPlayer5'
      required: true
    EastPlayer1:
      name: EastPlayer1
      in: query
      schema:
        $ref: '#/components/schemas/EastPlayer1'
      required: true
    EastPlayer2:
      name: EastPlayer2
      in: query
      schema:
        $ref: '#/components/schemas/EastPlayer2'
      required: true
    EastPlayer3:
      name: EastPlayer3
      in: query
      schema:
        $ref: '#/components/schemas/EastPlayer3'
      required: true
    EastPlayer4:
      name: EastPlayer4
      in: query
      schema:
        $ref: '#/components/schemas/EastPlayer4'
      required: true
    EastPlayer5:
      name: EastPlayer5
      in: query
      schema:
        $ref: '#/components/schemas/EastPlayer5'
      required: true
    GameID:
      name: GameID
      in: query
      schema:
        $ref: '#/components/schemas/GameID'
      required: true
      description: 002<YY-1><Game Number> (eg. 0021600001, 2017 Season First Game)
    StartPeriod:
      name: StartPeriod
      in: query
      schema:
        $ref: '#/components/schemas/StartPeriod'
      required: true
    EndPeriod:
      name: EndPeriod
      in: query
      schema:
        $ref: '#/components/schemas/EndPeriod'
      required: true
    StartRange:
      name: StartRange
      in: query
      schema:
        $ref: '#/components/schemas/StartRange'
      required: true
    EndRange:
      name: EndRange
      in: query
      schema:
        $ref: '#/components/schemas/EndRange'
      required: true
    RangeType:
      name: RangeType
      in: query
      schema:
        $ref: '#/components/schemas/RangeType'
      required: true
    LeagueID:
      name: LeagueID
      in: query
      schema:
        $ref: '#/components/schemas/LeagueID'
      required: true
      description: NBA=00, ABA=01
    Season:
      name: Season
      in: query
      schema:
        $ref: '#/components/schemas/Season'
      required: true
      description: YYYY-YY (eg. 1995-96)
    IsOnlyCurrentSeason:
      name: IsOnlyCurrentSeason
      in: query
      schema:
        $ref: '#/components/schemas/IsOnlyCurrentSeason'
      required: true
    PlayerID:
      name: PlayerID
      in: query
      schema:
        $ref: '#/components/schemas/PlayerID'
      required: true
    TeamID:
      name: TeamID
      in: query
      schema:
        $ref: '#/components/schemas/TeamID'
      required: true
    SeasonYear:
      name: SeasonYear
      in: query
      schema:
        $ref: '#/components/schemas/SeasonYear'
      required: true
    StatCategory:
      name: StatCategory
      in: query
      schema:
        $ref: '#/components/schemas/StatCategory'
      required: true
    SeasonType:
      name: SeasonType
      in: query
      schema:
        $ref: '#/components/schemas/SeasonType'
      required: true
    PlayerOrTeam:
      name: PlayerOrTeam
      in: query
      schema:
        $ref: '#/components/schemas/PlayerOrTeam'
      required: true
    GameScope:
      name: GameScope
      in: query
      schema:
        $ref: '#/components/schemas/GameScope'
      required: true
    PlayerScope:
      name: PlayerScope
      in: query
      schema:
        $ref: '#/components/schemas/PlayerScope'
      required: true
    StatType:
      name: StatType
      in: query
      schema:
        $ref: '#/components/schemas/StatType'
      required: true
    Stat:
      name: Stat
      in: query
      schema:
        $ref: '#/components/schemas/Stat'
      required: true
    MeasureType:
      name: MeasureType
      in: query
      schema:
        $ref: '#/components/schemas/MeasureType'
      required: true
    PerMode:
      name: PerMode
      in: query
      schema:
        $ref: '#/components/schemas/PerMode'
      required: true
    PlusMinus:
      name: PlusMinus
      in: query
      schema:
        $ref: '#/components/schemas/PlusMinus'
      required: true
    PaceAdjust:
      name: PaceAdjust
      in: query
      schema:
        $ref: '#/components/schemas/PaceAdjust'
      required: true
    Rank:
      name: Rank
      in: query
      schema:
        $ref: '#/components/schemas/Rank'
      required: true
    Outcome:
      name: Outcome
      in: query
      schema:
        $ref: '#/components/schemas/Outcome'
      required: true
    Location:
      name: Location
      in: query
      schema:
        $ref: '#/components/schemas/Location'
      required: true
    SeasonSegment:
      name: SeasonSegment
      in: query
      schema:
        $ref: '#/components/schemas/SeasonSegment'
      required: true
    DateFrom:
      name: DateFrom
      in: query
      schema:
        $ref: '#/components/schemas/DateFrom'
      required: true
    DateTo:
      name: DateTo
      in: query
      schema:
        $ref: '#/components/schemas/DateTo'
      required: true
    VsConference:
      name: VsConference
      in: query
      schema:
        $ref: '#/components/schemas/VsConference'
      required: true
    VsDivision:
      name: VsDivision
      in: query
      schema:
        $ref: '#/components/schemas/VsDivision'
      required: true
    GameSegment:
      name: GameSegment
      in: query
      schema:
        $ref: '#/components/schemas/GameSegment'
      required: true
    GroupQuantity:
      name: GroupQuantity
      in: query
      schema:
        $ref: '#/components/schemas/GroupQuantity'
      required: true
    Month:
      name: Month
      in: query
      schema:
        $ref: '#/components/schemas/Month'
      required: true
    OpponentTeamID:
      name: OpponentTeamID
      in: query
      schema:
        $ref: '#/components/schemas/OpponentTeamID'
      required: true
    Period:
      name: Period
      in: query
      schema:
        $ref: '#/components/schemas/Period'
      required: true
    LastNGames:
      name: LastNGames
      in: query
      schema:
        $ref: '#/components/schemas/LastNGames'
      required: true
    ClutchTime:
      name: ClutchTime
      in: query
      schema:
        $ref: '#/components/schemas/ClutchTime'
      required: true
    AheadBehind:
      name: AheadBehind
      in: query
      schema:
        $ref: '#/components/schemas/AheadBehind'
      required: true
    PlayerExperience:
      name: PlayerExperience
      in: query
      schema:
        $ref: '#/components/schemas/PlayerExperience'
      required: true
    PlayerPosition:
      name: PlayerPosition
      in: query
      schema:
        $ref: '#/components/schemas/PlayerPosition'
      required: true
    StarterBench:
      name: StarterBench
      in: query
      schema:
        $ref: '#/components/schemas/StarterBench'
      required: true
    PointDiff:
      name: PointDiff
      in: query
      schema:
        $ref: '#/components/schemas/PointDiff'
      required: true
    DistanceRange:
      name: DistanceRange
      in: query
      schema:
        $ref: '#/components/schemas/DistanceRange'
      required: true
    DefenseCategory:
      name: DefenseCategory
      in: query
      schema:
        $ref: '#/components/schemas/DefenseCategory'
      required: true
    Scope:
      name: Scope
      in: query
      schema:
        $ref: '#/components/schemas/Scope'
      required: true
    PlayerIDList:
      name: PlayerIDList
      in: query
      schema:
        $ref: '#/components/schemas/PlayerIDList'
      required: true
    VsPlayerIDList:
      name: VsPlayerIDList
      in: query
      schema:
        $ref: '#/components/schemas/VsPlayerIDList'
      required: true
    GraphStartSeason:
      name: GraphStartSeason
      in: query
      schema:
        $ref: '#/components/schemas/GraphStartSeason'
      required: true
    GraphEndSeason:
      name: GraphEndSeason
      in: query
      schema:
        $ref: '#/components/schemas/GraphEndSeason'
      required: true
    GraphStat:
      name: GraphStat
      in: query
      schema:
        $ref: '#/components/schemas/GraphStat'
      required: true
    PlayerTeamID:
      name: PlayerTeamID
      in: query
      schema:
        $ref: '#/components/schemas/PlayerTeamID'
      required: true
    PlayerID1:
      name: PlayerID1
      in: query
      schema:
        $ref: '#/components/schemas/PlayerID1'
      required: true
    PlayerID2:
      name: PlayerID2
      in: query
      schema:
        $ref: '#/components/schemas/PlayerID2'
      required: true
    PlayerID3:
      name: PlayerID3
      in: query
      schema:
        $ref: '#/components/schemas/PlayerID3'
      required: true
    PlayerID4:
      name: PlayerID4
      in: query
      schema:
        $ref: '#/components/schemas/PlayerID4'
      required: true
    PlayerID5:
      name: PlayerID5
      in: query
      schema:
        $ref: '#/components/schemas/PlayerID5'
      required: true
    VsTeamID:
      name: VsTeamID
      in: query
      schema:
        $ref: '#/components/schemas/VsTeamID'
      required: true
    VsPlayerID1:
      name: VsPlayerID1
      in: query
      schema:
        $ref: '#/components/schemas/VsPlayerID1'
      required: true
    VsPlayerID2:
      name: VsPlayerID2
      in: query
      schema:
        $ref: '#/components/schemas/VsPlayerID2'
      required: true
    VsPlayerID3:
      name: VsPlayerID3
      in: query
      schema:
        $ref: '#/components/schemas/VsPlayerID3'
      required: true
    VsPlayerID4:
      name: VsPlayerID4
      in: query
      schema:
        $ref: '#/components/schemas/VsPlayerID4'
      required: true
    VsPlayerID5:
      name: VsPlayerID5
      in: query
      schema:
        $ref: '#/components/schemas/VsPlayerID5'
      required: true
    VsPlayerID:
      name: VsPlayerID
      in: query
      schema:
        $ref: '#/components/schemas/VsPlayerID'
      required: true
    SeasonID:
      name: SeasonID
      in: query
      schema:
        $ref: '#/components/schemas/SeasonID'
      required: true
    GameDate:
      name: GameDate
      in: query
      schema:
        $ref: '#/components/schemas/GameDate'
      required: true
    DayOffset:
      name: DayOffset
      in: query
      schema:
        $ref: '#/components/schemas/DayOffset'
      required: true
    RookieYear:
      name: RookieYear
      in: query
      schema:
        $ref: '#/components/schemas/RookieYear'
      required: true
    ContextMeasure:
      name: ContextMeasure
      in: query
      schema:
        $ref: '#/components/schemas/ContextMeasure'
      required: true
    GROUP_ID:
      name: GROUP_ID
      in: query
      schema:
        $ref: '#/components/schemas/GROUP_ID'
      required: true
    ContextFilter:
      name: ContextFilter
      in: query
      schema:
        $ref: '#/components/schemas/ContextFilter'
      required: true
  schemas:
    WestPlayer1:
      type: number
    WestPlayer2:
      type: number
    WestPlayer3:
      type: number
    WestPlayer4:
      type: number
    WestPlayer5:
      type: number
    EastPlayer1:
      type: number
    EastPlayer2:
      type: number
    EastPlayer3:
      type: number
    EastPlayer4:
      type: number
    EastPlayer5:
      type: number
    GameID:
      type: string
      pattern: ^\d{10}$
    StartPeriod:
      type: number
    EndPeriod:
      type: number
    StartRange:
      type: number
    EndRange:
      type: number
    RangeType:
      type: number
    LeagueID:
      type: string
      pattern: ^\d{2}$
      enum:
      - '00'
      - '01'
    Season:
      type: string
      pattern: ^\d{4}-\d{2}$
    IsOnlyCurrentSeason:
      type: number
    PlayerID:
      type: number
    TeamID:
      type: number
    SeasonYear:
      type: string
    StatCategory:
      type: string
      enum:
      - Points
      - Rebounds
      - Assists
      - Defense
      - Clutch
      - Playmaking
      - Efficiency
      - Fast Break
      - Scoring Breakdown
    SeasonType:
      type: string
      enum:
      - Regular Season
      - Pre Season
      - Playoffs
    PlayerOrTeam:
      type: string
      enum:
      - Player
      - Team
    GameScope:
      type: string
      enum:
      - Season
      - Last 10
      - Yesterday
      - Finals
    PlayerScope:
      type: string
      enum:
      - All Players
      - Rookies
    StatType:
      type: string
      enum:
      - Traditional
      - Advanced
      - Tracking
    Stat:
      type: string
      enum:
      - PTS
      - REB
      - AST
      - FG_PCT
      - FT_PCT
      - FG3_PCT
      - STL
      - BLK
    MeasureType:
      type: string
      enum:
      - Base
      - Advanced
      - Misc
      - Four Factors
      - Scoring
      - Opponent
      - Usage
      - Defense
    PerMode:
      type: string
      enum:
      - Totals
      - PerGame
      - MinutesPer
      - Per48
      - Per40
      - Per36
      - PerMinute
      - PerPossession
      - PerPlay
      - Per100Possessions
      - Per100Plays
    PlusMinus:
      type: string
      enum:
      - Y
      - N
    PaceAdjust:
      type: string
      enum:
      - Y
      - N
    Rank:
      type: string
      enum:
      - Y
      - N
    Outcome:
      type: string
      enum:
      - W
      - L
    Location:
      type: string
      enum:
      - Home
      - Road
    SeasonSegment:
      type: string
      enum:
      - Post All-Star
      - Pre All-Star
    DateFrom:
      type: string
      format: date
    DateTo:
      type: string
      format: date
    VsConference:
      type: string
      enum:
      - East
      - West
    VsDivision:
      type: string
      enum:
      - Atlantic
      - Central
      - Northwest
      - Pacific
      - Southeast
      - Southwest
      - East
      - West
    GameSegment:
      type: string
      enum:
      - First Half
      - Overtime
      - Second Half
    GroupQuantity:
      type: number
    Month:
      type: number
    OpponentTeamID:
      type: number
    Period:
      type: number
    LastNGames:
      type: number
    ClutchTime:
      type: string
      enum:
      - Last 5 Minutes
      - Last 4 Minutes
      - Last 3 Minutes
      - Last 2 Minutes
      - Last 1 Minute
      - Last 30 Seconds
      - Last 10 Seconds
    AheadBehind:
      type: string
      enum:
      - Ahead or Behind
      - Behind or Tied
      - Ahead or Tied
    PlayerExperience:
      type: string
      pattern: ((Rookie)|(Sophomore)|(Veteran))?
    PlayerPosition:
      type: string
      pattern: ((F)|(C)|(G)|(C-F)|(F-C)|(F-G)|(G-F))?
    StarterBench:
      type: string
      pattern: ((Starters)|(Bench))?
    PointDiff:
      type: number
    DistanceRange:
      type: string
      enum:
      - 5ft Range
      - 8ft Range
      - By Zone
    DefenseCategory:
      type: string
      enum:
      - Overall
      - 3 Pointers
      - 2 Pointers
      - Less Than 6Ft
      - Less Than 10Ft
      - Greater Than 15Ft
    Scope:
      type: string
      enum:
      - RS
      - S
      - Rookies
    PlayerIDList:
      type: string
    VsPlayerIDList:
      type: string
    GraphStartSeason:
      type: string
    GraphEndSeason:
      type: string
    GraphStat:
      type: string
    PlayerTeamID:
      type: number
    PlayerID1:
      type: number
    PlayerID2:
      type: number
    PlayerID3:
      type: number
    PlayerID4:
      type: number
    PlayerID5:
      type: number
    VsTeamID:
      type: number
    VsPlayerID1:
      type: number
    VsPlayerID2:
      type: number
    VsPlayerID3:
      type: number
    VsPlayerID4:
      type: number
    VsPlayerID5:
      type: number
    VsPlayerID:
      type: number
    SeasonID:
      type: string
    GameDate:
      type: string
      format: date
    DayOffset:
      type: string
      pattern: ^-{0,1}\d+$
    RookieYear:
      type: string
    ContextMeasure:
      type: string
      enum:
      - PTS
      - FGM
      - FGA
      - FG_PCT
      - FG3M
      - FG3A
      - FG3_PCT
      - PF
      - EFG_PCT
      - TS_PCT
      - PTS_FB
      - PTS_OFF_TOV
      - PTS_2ND_CHANCE
      - PF
    GROUP_ID:
      type: string
      pattern: ^\d+(( - \d+){2,4})?$
    ContextFilter:
      type: string
